<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>996513240222-70nmfeovdq6in0bf5n4mtk02sglv69hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996513240222-70nmfeovdq6in0bf5n4mtk02sglv69hi</string>
	<key>API_KEY</key>
	<string>AIzaSyBKy6g5CTCDvqTaQN_tQE34dFqOpj1X2nY</string>
	<key>GCM_SENDER_ID</key>
	<string>996513240222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sledgenail.Uber-For-Rider</string>
	<key>PROJECT_ID</key>
	<string>uber-app-327c3</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-app-327c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:996513240222:ios:d9ea2fa8addeec99</string>
	<key>DATABASE_URL</key>
	<string>https://uber-app-327c3.firebaseio.com</string>
</dict>
</plist>